{% extends "base.html" %}
{% block title %}Project view{% endblock %}

{% block body %}

    <div class="container-fluid p-3 my-3 bg-primary text-blue">
        <div class="row">
            <h4 style="color: white; padding-left: 10px;"> Project / {{ project.name }}</h4>
        </div>
    </div>


    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Task</th>
            <th>Assignee</th>
            <th>Start date</th>
            <th>Due date</th>
            <th style="width: 28px;"><a href="/taskmanager/newtask/{{ project.id }}"><img src="/media/plus.png" alt=""></a></th>


            {% for task in tasks %}
                <tr>
                    <td><a href="/taskmanager/task/{{ task.id }}">{{ task.name }}</a></td>
                    <td><img src="{{ task.assignee.avatar.url }}" alt=""> <kbd
                            style="background-color: #0275d8">{{ task.assignee }}</kbd></td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                </tr>

            {% empty %}
                <tr><h3>No tasks created for this project</h3><br></tr>
            {% endfor %}
        </thead>
    </table>

{% endblock %}